body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.secao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secao__img {
  width: 300px;
  text-align: center;
  padding: 1rem;
  color: #be9dde;
}

.imagem {
  border: 3px solid #be9dde;
  border-radius: 50%;
  padding: 0.5rem;
  width: 75%;
}

.secao__img p {
  font-size: 15pt;
  padding-top: 0.5rem;
}

.secao__link {
  width: 400px;
  margin: 1rem;
  cursor: pointer;
}

.links {
  text-align: center;
  border: 2px solid #be9dde;
  color: #be9dde;
  padding: 1rem;
  margin: 1rem;
  transition: all 0.6s ease-in-out;
}

.links:hover {
  background-color: #be9dde;
  color: #fff;
}

.secao__redes-sociais {
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  width: 100%;
}

.secao__redes-sociais li:hover {
  animation: translateY 0.8s infinite alternate;
}

.links:hover {
  transform: translateY(-1px) scale(1.1);
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-1px) scale(1.1);
  }
}

@media screen and (max-width: 768px) {
  .secao__link {
    width: 320px;
  }
}

@media screen and (max-width: 480px) {
  .secao__img {
    padding: 0;
  }
  .imagem {
    width: 50%;
  }

  .links {
    padding: 0.9rem;
    margin: 0.5rem;
  }

  .secao__redes-sociais {
    padding: 0;
  }
}
